In [6]:
import pandas as pd

# Read the .hdr file
data = {}
with open('indiana.hdr', 'r') as file:
    for line in file:
        # Skip comments
        if line.startswith('comment'):
            continue
        # Split the line into key and value
        key, value = line.split('=', 1)
        key = key.strip()
        value = value.strip()
        data[key] = value

# Convert the data into a DataFrame
df = pd.DataFrame(list(data.items()), columns=['Attribute', 'Value'])

# Display the DataFrame
df

                Attribute          Value
0              file_title        INDIANA
1               data_type          point
2         data_byte_order  little_endian
3            latitude_min        37.7853
4            latitude_max        40.9125
5           latitude_unit        degrees
6           longitude_min       -88.0148
7           longitude_max       -84.7916
8          longitude_unit        degrees
9    sea_level_elev_m_min              0
10   sea_level_elev_m_max         377.04
11  sea_level_elev_m_unit         meters
12           obs_grav_min         979895
13           obs_grav_max         980250
14          obs_grav_unit      milligals
15         theor_grav_min              0
16         theor_grav_max         980185
17        theor_grav_unit      milligals
18      Free_air_anom_min         -45.69
19      Free_air_anom_max          22.39
20     Free_air_anom_unit      milligals
21   Bouguer_anom_267_min         -66.75
22   Bouguer_anom_267_max          -3.46
23  Bouguer_anom_267_unit      milligals